.section1 {
    display: flex;
    margin: 250px auto;
    justify-content: center;
}

.header-text {
    width: 420px;
    height: 100px;
    color: #000;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.main-text {
    width: 450px;
    color: #7d7987;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.button-download {
    width: 164px;
    height: 48px;
    border-radius: 8px;
    background: #fb8f1d;
    border: 1px solid #fb8f1d;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.section1-image {
    height: 542px;
    flex-shrink: 1;
    /* background: lightgray 50% / cover no-repeat; */
}

.section1-image img {
    width: 100%;
    max-width: 599px;
}

.section-main {
    display: flex;
    /* margin: 250px 197px 0 197px; */
    padding: 24px 100px;
}

.section2-text,
.section2-image {
    flex-grow: 1;
}

.section2-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    margin: 250px 0 0 0;
    background-color: #f8f8f8;
}

.header2-text {
    color: #000;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 100px;
    margin-top: 72px;
}

.main2-text {
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    max-width: 80%;
}

.header3-text {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.small-text {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
}

.stars {
    display: flex;
}

.stars img {
    width: 25px;
    height: 24px;
    margin: 0 5px;
}

.section2-image {
    /* width: 773px;
    height: 598px; */
}

.section2-image img {
    border-radius: 4%;
}

.header4-text {
    color: #000;
    font-family: Playfair Display, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding: 0 16px;
}

.image1-text,
.healing-text,
.link {
    padding: 0 16px;
}

.blog1 {
    flex-basis: calc(25% - 15px);
    flex-grow: 1;
}

.blog1 img {
    width: 100%;
    object-fit: cover;
    height: 284px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.image1-text {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.healing-text {
    /* width: 266px; */
    color: #7d7987;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section3 {
    margin-top: 100px;
}

.section3-trending-stories {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 16px;
}

.link {
    width: 266px;
    color: #fb8f1d;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

